
html {
font-size: 62.5%;
scroll-behavior: smooth;
overflow-x: hidden;
}
a{
text-decoration: none;
color: inherit;
}
@media screen and (max-width: 75em) {
html {
    font-size: 56.25%;
}
}
@media screen and (max-width: 56.25em) {
html {
    font-size: 50%;
}
}
@media screen and (max-width: 37.5em) {
html {
    font-size: 50%;
}
}
@media screen and (min-width: 121.875em) {
html {
    font-size: 65%;
}
}

body {
font-family: "Myriad Pro", sans-serif;
font-weight: 400;
line-height: 1.7;
overflow-x: hidden;
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

.camin_hidden{
    position: absolute;
    z-index: -1;
    top: -9999px;
    left: -9999px;
}

.mySwiper_main{
    height: 100vh;
}

.swiper_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_item{
    position: relative;
}
.swiper_layout{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.swiper_item_text{
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-25%,-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    width: 50%;
}

.swiper_item_title{
    font-size: 5rem;
    color: white;
    line-height: 5rem;
    font-weight: bold;
}
.swiper_item_sub{
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    line-height: 3.2rem;
}

.swiper_item_btn{
    background-color: #2e3192;
    color: white;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: .5rem;
    width: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
}
.camine{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 10%;
}

.camine_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.camine_img{
    width: 100%;
    /* border-radius: 1rem; */
    height: 100%;
    object-fit: cover;
}

.camine_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
}

.camine_btns_btn{
    font-size: 1.4rem;
    padding: .5rem 1rem;
    cursor: pointer;
    width: 100%;
    border: 2px solid #1E157E;
    text-align: center;
}

.camine_btns_btn_active{
    background-color: white;
    color: #1E157E;
    border: 2px solid #1E157E;
    font-weight: bold;
}

.camine_content_text_title{
    font-size: 3rem;
    color: #1E157E;
    font-weight: bold;
}
.camine_content_text_subititle{
    font-size: 1.6rem;
}

.mySwiper_camine{
    width: 400px;
    height: 320px;
}
.swiper-slide_camine{
  
    background-color: #1E157E;
    border-radius: 1rem;
}

@media screen and (max-width: 1200px){
    .camine{
        padding: 4rem 5%;
    }
}

@media screen and (max-width: 1000px){
    .camine{
        padding: 4rem 2%;
    }
}

@media screen and (max-width: 900px){
    .camine_content{
        grid-template-columns: 1fr;
        text-align: center;
    }
}


@media screen and (max-width: 700px){
    .swiper_item_text{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 80%;

        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}